h1{
	margin:0;
}

h3{
	margin: 0;
}

span{
	font-weight: bold;
}


.navbar-form{
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

#currentWeatherData{
	text-align: center;
}

#nextDaysWeather{
	display:inline-block;
	width: 20%;
	text-align: center;
}

#nextHoursWeather ul{
	padding:0;
}

#nextHoursWeather li{
	list-style-type: none;
}

#nextHoursWeather p{
	display:inline-block;
	width:24%;
	text-align: center;
	margin-right: 0;
}

